$ink:#000a12;
$sunnyside: #ffd740;

@media only screen and (max-width: 768px) {

  .sampleDisplay {
    display:flex;
    flex-direction: column;
    grid-column: 2/11;
    margin: 40px 0px;
    grid-row: 3;
    background-color:$ink;
    overflow-y:scroll;
    max-height:200px;
    text-align:left;
    padding-left: 20px;
    padding-right: 15px;

    strong {
      font-size:12px;
      color:$sunnyside;
    }


    p {
      color:white;
      width:100%;
      word-wrap:break-word;

    }
  }

body {
  background-color: $ink;
}

.App {
  text-align: center;
  display:grid;
  grid-template-columns: repeat(11,1fr);

}

.help {
  background-color: transparent;
  border:none;
  color:white;
  font-size: 22px;

  svg {
    margin:auto;

  }

  .loading {
    width:40px;
    height:40px;
  }
}

.help:focus {outline:0;}

.inputSection {

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  p {
    font-size: 14px;
    background-color:white;
    margin-top:0px;
    margin-left:10px;
    margin-right:10px;
    text-align: left;
    padding:5px;
    border-radius:5px;
    box-shadow:2px 2px 2px rgba(0, 11, 20, 0.46);
}

.inputButton {
  display:flex;
  flex-direction: row;
}
}

.loadingSection{
  padding-top:20px;
  margin-left:20px;

  display:flex;
  flex-direction: row;
  align-items: center;
  p {
    text-align: left;
    color:white;
    width:200px;
    margin-left:20px;
  }
}

.predictionSection{

  display:flex;
  flex-direction: column;
  align-items: center;
  p {
    text-align:center;
    color:white;
    margin: 0px;
    margin-top:15px;
    margin-left:10px;
    margin-right:10px;
  }

}

.header{
    display:flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;

    a {
      margin:0px;
      padding:0px;
      width:0px;
    }

.logo {
  margin:0px;
  padding:0px;
  height:50px;
  width:50px;
}

  img {
    height:100%;
  }

  .Menu {
    margin-right: 20px;
    justify-content: center;
    display:flex;
    flex-direction: row;


    .MenuItem {
      margin: auto 10px;

      a {
        color:white;
        text-decoration: none;
        padding-bottom:1px;
        transition: 0.1s border-bottom;
      }

      a:hover {
        border-bottom: 3px solid $sunnyside;
        padding-bottom:1px;
        transition: 0.1s border-bottom;
      }

    }
  }


  grid-column: 1/12;
  grid-row: 1;
  height:50px;
  background-color:$ink;
  width:100%;
}

.hero{
  grid-column: 1/12;
  grid-row: 2/6;
  height:360px;
  background-image:url('../images/background.jpg');
  background-size: cover;
  background-position: bottom;
  width:100%;
}

.float{
  display:flex;
  flex-direction: column;
  grid-column: 2/11;
  margin: 0px;
  margin-top: 40px;
  grid-row: 2;
  z-index: 5;
  background-color:$ink;
  width:100%;

  h1 {
    color:white;
    text-align: center;
    margin:20px;
    font-size: 25px;
    font-weight:400;
  }

  input {
    border: 1px solid white;
    width:200px;
  }

  input[type='file'] {
    display:none;
  }

  .custom-file-upload {
    color:white;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width:200px;
    margin-left:20px;
    transition: 1s background-color, border;
}

.custom-file-upload:hover {
  color:black;
  background-color:white;
  border:1px solid transparent;
}

}

.content {
  text-align:left;
  font-size:25px;
  grid-column:1/12;
  grid-row: 2 / 6;
  display:flex;
  justify-content: space-between;
  .sequence {
    margin:20px;
    margin-right:0px;
    p {
      margin-left:20px;
      color:$ink;
      font-weight:500;
    }
    width:700px;
    background-color: white;
    .seq{
      border-top:1px solid lightgray;
      height:400px;
      background-size: cover;
      background-position: center;
      background-image: url('../images/align.png')
    }
  }
  .taxonomy {
    margin:20px;
    p {
      margin-left:20px;
      color:$ink;
      font-weight:500;
    }
    background-color: white;
    width:700px;
    .tax{
      border-top:1px solid lightgray;
      width:100%;
      height:400px;
      background-size: cover;
      background-position: center;
      background-image: url('../images/tax.jpg')
    }
  }
}

.people {

  grid-column:2/11;
  grid-row: 3 / 4;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin:20px;
  align-items: center;

  .person {
    margin:20px;
    margin-top:50px;
    width: 100%;
    background-color: $sunnyside;

    .name {
      font-size:20px;
      font-weight:900;
    }

    p {
      margin:10px;
    }

    .team1 {
      height:250px;
      width:100%;
      background-image:url('../images/luke.jpg');
      background-position:center;
      background-size:cover;
      border-bottom:1px solid lightgray;
    }

    .team2 {
      height:250px;
      width:100%;
      background-image:url('../images/leia.jpg');
      background-position:top;
      background-size:cover;
      border-bottom:1px solid lightgray;

    }

    .team3 {
      height:250px;
      width:100%;
      background-image:url('../images/mace.jpg');
      background-position:top;
      background-size:cover;
      border-bottom:1px solid lightgray;

    }

  }

}


.explore {

  grid-column:1/12;
  grid-row: 3 / 4;
  display:grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap:20px;
  align-items: flex-start;
  margin:20px;

  .column {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

  }

  .barplot {
    width:100%;
    background-color:white;
  }


  .intro {
    width: 99.4%;
    min-height:200px;
    background-color: $sunnyside;
    text-align: left;
    margin-bottom:20px;



    a {
      text-decoration:none;
      color:black;

    }

    .name {
      font-size:20px;
      font-weight:900;
    }

    p {
      padding:20px;
      margin:10px;
      padding-bottom:0px;
    }
}
img {
  max-height:375px;
  margin-bottom:20px;
}

}


}

@media only screen and (max-width: 376px) {


  .explore {

    grid-column:1/12;
    grid-row: 3 / 4;
    display:grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap:20px;
    align-items: flex-start;
    margin:20px;

    .column {
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

    }

    .barplot {
      width:100%;
      background-color:white;
    }


    .intro {
      width: 99.4%;
      min-height:200px;
      background-color: $sunnyside;
      text-align: left;
      margin-bottom:20px;



      a {
        text-decoration:none;
        color:black;

      }

      .name {
        font-size:20px;
        font-weight:900;
      }

      p {
        padding:20px;
        margin:10px;
        padding-bottom:0px;
      }
  }
  img {
    max-height:335px;
    margin-bottom:20px;
  }

  }

}
